<div class="px-6 sm:px-4 py-16">
  <div class="w-full sm:max-w-7xl mx-auto">
    <h3 class="text-2xl font-bold mb-8">Home</h3>

    <div class="text-lg">
      <p class="mb-8">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero aut
        iure, praesentium laboriosam corporis explicabo veritatis deserunt,
        blanditiis perspiciatis dolorem natus distinctio eaque provident,
        similique quas unde sit ratione necessitatibus.
      </p>
      <p class="mb-8">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero aut
        iure, praesentium laboriosam corporis explicabo veritatis deserunt,
        blanditiis perspiciatis dolorem natus distinctio eaque provident,
        similique quas unde sit ratione necessitatibus.
      </p>
      <p class="">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero aut
        iure, praesentium laboriosam corporis explicabo veritatis deserunt,
        blanditiis perspiciatis dolorem natus distinctio eaque provident,
        similique quas unde sit ratione necessitatibus.
      </p>
    </div>
  </div>
</div>
